<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlw.manage.system.mapper.GlobalConfigMapper">
    <select id="getAllList" resultType="com.hlw.common.model.vo.system.GlobalConfigListVo">
        SELECT * from global_config
    </select>

</mapper>
