<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlw.manage.system.mapper.HlwManageUserMapper">

    <!--<resultMap id="join" type="com.hlw.common.model.vo.system.UserListVo">
        <result column="id" property="id"></result>
        <result column="login_name" property="loginName"></result>
        <result column="name" property="name"></result>
        <result column="enable" property="enable"></result>
        <collection property="roles" ofType="com.hlw.common.model.vo.system.UserRoleListVo">
            <result column="role_id" property="roleId"/>
            <result column="role_name" property="roleName"/>
        </collection>
    </resultMap>-->

    <!--<select id="getAll" resultMap="join">
        SELECT
            u.id,
            u.login_name,
            u.name,
            u.enable,
            r.id AS role_id,
            r.name AS role_name
        FROM hlw_manage_user u
        LEFT JOIN hlw_manage_user_role ur ON u.id = ur.user_id
        LEFT JOIN hlw_manage_role r ON ur.role_id = r.id
        WHERE u.del_flag = 0
        <if test="dto.keyword != null and dto.keyword != ''">
            and(
                u.login_name LIKE concat('%',#{dto.keyword},'%')
                OR
                u.name LIKE concat('%',#{dto.keyword},'%')
            )
        </if>
        ORDER BY u.create_date DESC
    </select>-->
    <select id="getAllList" resultType="com.hlw.common.model.vo.system.UserListVo">
        SELECT
            u.id,
            u.login_name,
            u.name,
            u.enable,
            r.id AS role_id,
            GROUP_CONCAT(r.name) AS role_name
        FROM hlw_manage_user u
        LEFT JOIN hlw_manage_user_role ur ON u.id = ur.user_id
        LEFT JOIN hlw_manage_role r ON ur.role_id = r.id
        WHERE u.del_flag = 0
        <if test="dto.keyword != null and dto.keyword != ''">
            and(
            u.login_name LIKE concat('%',#{dto.keyword},'%')
            OR
            u.name LIKE concat('%',#{dto.keyword},'%')
            )
        </if>
        GROUP BY u.id
        ORDER BY u.create_date DESC
    </select>

</mapper>
